{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% comment %} <div class="content-area"> {% endcomment %}
        {% block small_sidebar %}{% endblock %}
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
